.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h4,
p {
  margin: 10px auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: App infinite 20s linear;
  }
}

@keyframes App {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#root {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}
